clifford @ https://github.com/andydevs/clifford/archive/refs/heads/andys-awesome-branch.zip
-e ./anutils-project
beautifulsoup4
ipympl
ipywidgets
ipycanvas
jupyter
jupyterlab
jupyterlab-git
matplotlib
notebook
numpy
opencv-python
paramiko
pandas
Pillow
python-dotenv
requests
scikit-image
scikit-optimize
scipy
sympy
tensorflow[and-cuda]
tqdm
typing_extensions>=4.6.1
voila
manim==0.19.0
