beautifulsoup4
ipympl
ipywidgets
jupyter
jupyterlab
jupyterlab-git
matplotlib
notebook
numpy
pandas
Pillow
requests
scikit-image
scipy
sympy
tensorflow[and-cuda]
tqdm
python-dotenv
paramiko
linode-api4